<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Calculadora</strong><br>
    <ion-button *ngIf="operacao !== '+' " (click)="ativarSoma()"> + </ion-button>
    <ion-button *ngIf="operacao !== '-' " (click)="ativarSubtracao()"> - </ion-button>
    <ion-button *ngIf="operacao !== '*' " (click)="ativarMultiplicacao()"> * </ion-button>
    <ion-button *ngIf="operacao !== '/' " (click)="ativarDivisao()"> / </ion-button>
    <ion-input id="inputCalc" fill="outline" type="number" [(ngModel)]="operando1"></ion-input>
    <ion-input id="inputCalc" fill="outline" type="text" [(ngModel)]="operacao"> </ion-input>
    <ion-input id="inputCalc" fill="outline" type="number" [(ngModel)]="operando2"></ion-input>
    <div class="resultado-container">
      <div class="resultado-label">Resultado</div>
      <ion-input id="inputCalc" fill="outline" type="number" readonly="true" [(ngModel)]="resultado"></ion-input>
    </div>
    <div id="divLimpar">
      <ion-button *ngIf="operacao.trim() !== ''" (click)="limpar()"> Limpar </ion-button>
      <ion-button (click)="calcularResultado()"> Calcular </ion-button>
    </div> 
  </div>
</ion-content>
